<%- include('templates/cabecera', {tituloWeb: "Pagina Creditos" }) %>
    <div class="credits">
        <h1>Plataformas Tecnologicas</h1>
        <ul class="credits-ul">
            <li>Roberts Alexander Durand Kohler</li>
            <li>Jesus Manuel Macalupu Estelo</li>
            <li>Kevin Cesar Soto Alcohoser</li>
            <li>Carlos Andree Marquina Jaimes</li>
        </ul>
    </div>
    <%- include('templates/footer') %>